<!doctype html>
<html xmlns:th="http://www.thymeLeaf.org" th:replace="~{base::layout(~{::section})}">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/style.css}">

    </head>
    <body >

<section class="logins">
        <div id="login">

            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" style="height: 200px" class="col-md-12">



                            <h3 class=" text-center my-3">Ändra lösenord!</h3>
                            <form action="" th:action="@{/change-password}" method="post">

                                <div class="form-group my-4">

                                    <input required="required" name="changePass" type="password" placeholder="Ange nytt lösenord här.." class="form-control"> 


                                </div>


                                <div class="container text-center">

                                    <button class="btn btn-info">

                                        Ändra Lösenord

                                    </button>


                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    </body>
</html>
